<div class="input-group">
  <input type="text" required id="username" name="username" />
  <label for="username">Username</label>
</div>
<div class="input-group">
  <input type="email" id="email" required name="email" />
  <label for="email">Email Address</label>
</div>
<div class="input-group1">
  <input
    type="password"
    id="password"
    name="password"
    required
    class="password-input"
  />

  <label for="password">Password</label>
  <img
    src="/eye-close.png"
    class="password-toggle"
    id="eyeicon"
    onclick="switchVisibility()"
  />
</div>
<div class="input-group">
  <input
    type="password"
    id="confirm_password"
    name="confirm_password"
    required
  />
  <label for="confirm_password"> Confirm Password</label>
</div>

<script>
  let eyeicon = document.getElementById("eyeicon");
  let password = document.getElementById("password");

  eyeicon.onclick = function () {
    if (password.type === "password") {
      password.type = "text";
      eyeicon.src = "eye-open.png";
    } else {
      password.type = "password";
      eyeicon.src = "eye-close.png";
    }
  };
</script>