<link rel="stylesheet" href="/css/styles.css" />
<div class="form-wrapper sign-up">
  <form action="/create" method="POST">
    <h2>Sign Up</h2>
    <%- include('_create_employee') %>
    <button type="submit" class="btn">Sign Up</button>
    <div class="sign-link">
      <p>
        Already have an account?
        <a href="#" class="signIn-link">Sign In</a>
      </p>
    </div>
  </form>
</div>